:root{
    --font-family: "Roboto",sans-serif;
    --bodyBackGroundColor: #f1f5f8;
    --white: #fff;
    --bodyContentMargin: 10rem;
    --clr-primary-5: #2caeba;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: var(--font-family);
    background-color: var(--bodyBackGroundColor);
    /* width: 1400px; */
}
.bodyContent{
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    width: calc(100% - var(--bodyContentMargin));
    /* height: 50px; */
}
.header{
    background-color: var(--white);
    display: grid;
     grid-template-columns: 50px 100px 200px 50px;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.search{
    margin-top: 4rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20rem) ;
    height: 50px;
}
.search input{
    border: none;
    outline-color: var(--bodyBackGroundColor);
    width: 90%;
    height: 35px;
    margin: 20px;
}

.searchBtn{
    background-color: var(--clr-primary-5);
    color: var(--white);
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5px;
}

.sectionOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoBox{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    width: 15rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
   margin: 20px 40px 20px 0;
}
.pink{
    background-color: rgb(255, 224, 240);
}
.green{
    background-color: #e0fcff;
}
.purple{
    background-color: rgb(230, 230, 255);
}
.yellow{
    background-color: rgb(255, 251, 234);
}
.sectionOne img{
    height: 1.5rem;
    width: 1.5rem;
}

.size{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
}
.sectionTwo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whitebackground{
    background-color: var(--white);
}
.userImage img{
    border-radius: 50px;
    height: 70px;
}

.topbox{
    width: 100px;
    padding: 10px 30px 10px 20px;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
}
.userDetail{
    background-color: white;
    width: 580px;
    height: 250px;
    border-radius: 0px 5px 5px 5px 5pxx;
    margin-bottom: 50px;
}

.personnalinfo{
    display: flex;
    align-items: center;
    padding: 20px;
}
.personnalinfo :nth-child(1){
    margin-right: 10px;
}
.personnalinfo :nth-child(3){
    margin-left: 280px;
}

.follow a{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 30px;
    width: 70px;
    color: var(--clr-primary-5);
    border: 1px solid var(--clr-primary-5);
    border-radius: 50px;
    text-decoration: none;
}
.follow a:hover{
    background-color: var(--clr-primary-5);
    color: var(--white);
}

.about{
    margin-left: 30px;
}
.about img{
    margin-right: 10px;
}
.about a{
    text-decoration: none;
    color: var(--clr-primary-5);
}
.overflowscroll{
   overflow: scroll;
}
.followersdetail{
    display: flex;
    margin: 30px;
}
.followersdetail :nth-child(1){
    margin-right: 30px;
}
.followersdetail img{
    border-radius: 50px;
    height: 50px;
}
.followersdetail a{
    color: black;
    text-decoration: none;
}


.sectionThree{
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
}
.sectionThree :nth-child(1){
    background-color: var(--white);
    width: 400px;

}

.chartBackground{
    background-color: var(--white);
}

.bar{
    /* position: absolute; */
    width: 70%;
    /* height: 100%; */
}
a{
    text-decoration: none;
    color: black;
}

.authBody{
background-color: black;
height: 100vh;
width: 100vw;
position: absolute;

}
.signin-login{
/* transition: 5s all; */
background-color: var(--white);
width: 350px;
border-radius: 5px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
text-align: center;
position: relative;
}
.gray{
    background-color: rgb(237, 237, 237);
    padding-bottom: 10px;
}
.login img{
    height: 70px;
    margin-top: 20px;
    
}

.signin img{
    margin-top: 20px;
    height: 70px;
}

.link-signUp-login{
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

.link-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}
.not-active{
    border-bottom: 1px solid rgba(51, 50, 50, 0.159);
    color: rgba(51, 50, 50, 0.459);
    
}
.active{
    border-bottom: 1px solid black;
}

.link-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.googleButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
.inputbox{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
    border-radius: 2px;
    overflow: hidden;
}
/* .inputbox:active{
    border: 1px solid black ;
} */

.inputbox img{
    height: 50%;
}
.inputbox input{
    outline: none;
    height: 40px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.input-icon{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.or{
    padding-bottom: 20px;
}
.small{
    
   width: 100%;
   background-color: rgb(237, 237, 237);
    padding: 15px;
}

button{
    cursor: pointer;
    margin-left: auto;
    height: 90px;
    color: var(--white);
    border: none;
    margin-right: auto;
    background-color: rgb(234, 83, 35);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
}
button :nth-child(1){
    margin-left: 10px;
}
button img{
    padding-bottom: 20px;
    width: 10px;
}
.passwordReset{
    margin-bottom: 20px;
}


/* forgotten password */
.back img{
    height: 13px;
    width: 13px;
}
.back{
    height: 20px;
    width: 20px;
    top: 10px;
    left: 20px;
    position: absolute;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 20px;
}

.passwordResettext{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sendEmailBtn{
    display: inline;
    margin: 0;
    padding: 0;
}